In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.DataFrame(np.random.randn(10,4),columns=list("ABCD"))

In [14]:
student_data = {
    'name' :['Ram','Shyam','Hari','Gita','Sita'],
    'gender' : ['M','M','M','F','F'],
    'math' : [70,85,67,95,88],
    'english' : [85,76,98,99,90]
}

In [18]:
df1 = pd.DataFrame(student_data)
df1['total_marks'] = df1['math']+df1['english']

In [24]:
df1['average_marks'] = df1['total_marks'].apply(lambda x: x/2)

In [25]:
df1

    name gender  math  english  total_marks  average_marks
0    Ram      M    70       85          155           77.5
1  Shyam      M    85       76          161           80.5
2   Hari      M    67       98          165           82.5
3   Gita      F    95       99          194           97.0
4   Sita      F    88       90          178           89.0

In [1]:
!ls

Untitled.ipynb          vedio_recording_2.ipynb

In [4]:
!git clone https://github.com/rimalumesh/git_learning.git

fatal: destination path 'git_learning' already exists and is not an empty directory.

In [ ]:
# hello how are you are you good